<meta charset="utf-8">

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <!-- INFO:
        v-if: remove e inclui elementos em tela, não trabalhando utilizando hide e show
        template: elemento vue usado para se agrupar outros elementos internos, o mesmo não é exibido em tela diferente de div e outros.
    -->
    <template v-if="logado">
        <p>Usuário Logado: {{nome}}</p>
        <p>Perfil Admin</p>
    </template>
    <p v-else-if="anonimo">Navegando como Anônimo</p>
    <p v-else>Nenhum usuário logado</p>
    <button @click="logado = !logado">
        {{logado ? 'Sair' : 'Entrar'}}
    </button>
    <input type="checkbox" v-model="anonimo">
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'Maria',
            logado: false,
            anonimo: false
        }
    });
</script>